[submodule "thirdparty/brpc"]
	path = thirdparty/brpc
	url = https://github.com/brpc/brpc.git
[submodule "thirdparty/braft"]
	path = thirdparty/braft
	url = https://github.com/brpc/braft.git
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = https://github.com/facebook/folly.git
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = https://github.com/google/glog.git
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
